body{

    background-color: rgba(255, 0, 0, 0.887);
    color: rgb(214, 186, 71);
    font-size: 50px;

    
}

a{
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgb(255, 255, 255);
}


a:hover { font-size: 80px; color: rgb(122, 95, 66); text-decoration: none;
}


p2 {

	margin: auto;
	border: 1px solid rgb(255, 255, 255);
	padding: 100 px;
line-height: 1.5em;
}